@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
  background: rgb(158, 245, 235);
  background: -moz-linear-gradient(
    93deg,
    rgba(158, 245, 235, 1) 0%,
    rgba(81, 208, 233, 1) 36%,
    rgba(71, 188, 224, 1) 53%,
    rgba(0, 120, 177, 1) 100%
  );
  background: -webkit-linear-gradient(
    93deg,
    rgba(158, 245, 235, 1) 0%,
    rgba(81, 208, 233, 1) 36%,
    rgba(71, 188, 224, 1) 53%,
    rgba(0, 120, 177, 1) 100%
  );
  background: linear-gradient(
    93deg,
    rgba(158, 245, 235, 1) 0%,
    rgba(81, 208, 233, 1) 36%,
    rgba(71, 188, 224, 1) 53%,
    rgba(0, 120, 177, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9ef5eb",endColorstr="#0078b1",GradientType=1);
}

.main {
  margin-left: 50px;
  transition: 100ms ease-in-out;
}

.nav {
  margin-left: 40px;
  padding: 60px 10px 0 10px;
  font-size: 1.3rem;
  font-weight: bold;
  height: max-content;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
  background: linear-gradient(to right, #ec366e, #f5b161) left bottom no-repeat;
  background-size: 100% 1px;
}

.nav ul li {
  margin: 0;
  height: max-content;
}

.nav a {
  padding: 10px 20px;
  text-decoration: none;
  color: black;
}

.nav link {
  background-color: blue;
}

.sidebar {
  z-index: 2;
  font-size: 1.2rem;
  position: fixed;
  height: 100%;
  width: min-content + 50px;
  background: linear-gradient(to left, #f39165, /* #f06d68, */ #f5b161) left
    bottom no-repeat;
  border-right: 1px solid black;
  transition: 200ms ease-in-out;
  padding-top: 3%;
}

.sidebar ul li.menu {
  cursor: pointer;
}

.sidebar ul {
  padding: 10px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  list-style: none;
  height: 90%;
}

.sidebar ul > li {
  cursor: pointer;
  width: max-content;
}

.sidebar ul > li > a {
  text-decoration: none;
  display: flex;
  gap: 10px;
  color: black;
  justify-content: center;
  transition: all 5000ms ease-in-out;
  align-items: center;
}

.sidebar ul li.pushDown {
  margin-top: auto;
}

footer {
  background-color: #313036;
}

.footer {
  margin: 10px 20px;
  display: flex;
  color: rgb(219, 203, 203);
  /* gap: 50px; */
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.footer .col {
  font-size: 0.9rem;
  width: 300px;
  padding: 10px 20px;
}

.footer .col1 {
  width: 300px;
  padding: 10px 20px;
}

.footer .col3 {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.footer .col3 form > input,
form > textarea {
  padding: 5px;
  width: 200px;
  height: 30px;
  outline: none;
  border-radius: 10px;
  border: 1px #313036 solid;
  background-color: #000000;
  color: white;
}
.footer .col3 form > textarea {
  height: 60px;
}

.footer .col3 form > input:focus,
textarea:focus {
  border: 1px solid white;
  background-color: #313036;
}
.footer .col3 form textarea {
  margin: 10px 0;
  height: 60px;
}
.footer .col3 form > button {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: #00848b;
}

.footer .col3 form > button:focus {
  background-color: #005a5f;
}

footer > p {
  margin: 0;
  font-size: 0.7rem;
  gap: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  background-color: #353a40;
  width: 100%;
  color: rgb(168, 168, 168);
}

.socials {
  display: flex;
}

.hide {
  display: none;
}

.not-found {
  text-align: center;
}

.not-found a {
  color: blue;
  text-decoration: underline;
}

/* responsive part NavBar,SideBar,Footer */
/* @media only screen and (min-width: 300px) and (max-width: 479px) {
  .icons {
    font-size: 20px;
  }
  .nav {
    font-size: 1rem;
    padding: 0;
  }

  .nav ul{
    font-size: 0.7rem;
    justify-content: space-between;
  }

  .hide {
    display: none;
  }
  .footer .col {
    font-size: 0.5rem;
  }
  .footer .col > h2 {
    text-align: center;
  }
  .footer .col3 form > input,
  .footer .col3 form > textarea {
    width: 200px;
    height: 15px;
  }

  .footer ul > li,
  .footer .col2 > ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    font-size: 0.6rem;
  }

  .nav ul li {
    margin-left: auto;
  }
  .sidebar {
    font-size: 0.9rem;
  }
}


@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .nav {
    font-size: 0.7rem;
  }
} */
