@import url("https://fonts.googleapis.com/css2?family=Salsa&display=swap");
.home {
  font-family: "Salsa", cursive;
}

.homePic {
  z-index: 0;
}


.Headlines > h1 {
  font-size: 3rem;
  line-height: 0.5;
  display: flex;
  flex-direction: column;
  margin-left: 30%;
}

.slightPush {
  padding-left: 10%;
}