@import url("https://fonts.googleapis.com/css2?family=Salsa&display=swap");
.home {
  font-family: "Salsa", cursive;
}

.homePic {
  z-index: 0;
}

.Headlines > h1 {
  font-size: 3rem;
  line-height: 0.5;
  display: flex;
  flex-direction: column;
  margin-left: 30%;
}

.slightPush {
  padding-left: 10%;
}


.bannerism {
  margin-left : 10rem;
  display: flex;
  gap: 50px;
  margin-bottom: 5rem;
}

.btn {
  margin-top: -5rem;
  cursor: pointer;
  border-radius: 160px;
  border: 2px solid black;
  width: 200px;
  height: 55px;
  align-self: center;
  font-size: large;
  display: flex;
  flex-direction: column;
}

.btn1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Salsa", cursive;
  background-color: rgba(0, 0, 0, 0);
}

.btn2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Salsa", cursive;
  background-color: black;
  color: white;
}

.btn:hover {
  border: 2px solid rgba(54, 54, 54, 0.774);
  color: rgb(255, 255, 255);
}

.btn1:hover {
  background-color:  rgba(54, 54, 54, 0.062);
  /* background-color: rgb(70, 187, 255); */
}